# Logs
*.log
gunicorn.log

# Python virtual environments
.venv/
.venv.production/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django / local runtime
*.sqlite3
db.sqlite3
*.log

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Node
node_modules/
dist/

# Local secret / cert
cookies.txt
nasaldap_ca.crt
